.wrapper {
  padding-top: 0rem;
}

.perceptex {
  text-align: center;
  margin: 2rem auto 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  color: rgb(51, 0, 170);
}
.perceptex .he1 {
  margin: 0 0 -15px;
  padding: 0;
  font-size: 46px;
}
.perceptex .he2 {
  margin: 0;
  padding: 0 0 0 1.5px;
  font-size: 37px;
}

.contrastChart.pie {
  margin: 3rem auto 0;
}

#inputTXT,
#inputBG {
  border-radius: 4px;
  text-align: left;
  padding-left: calc(40px + 0.5rem);
}

.conformScore th.tableTitle {
  position: relative;
}
#tableSamples #BGpicker, #tableSamples #TXTpicker {
  border: none;
  position: absolute;
  left: 16px;
  width: 39px;
  height: 39px;
  border-radius: 4px;
  z-index: 1;
}

.conformScore tr:first-child th.tableTitle {
  vertical-align: bottom;
}
.conformScore #tableScore4 td {
  padding: 1rem 0.5rem 0;
  vertical-align: top;
  text-align: left;
  border: 1px solid rgb(230, 230, 230);
}
.innerwrapper {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}
.infobox {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 4rem 0 2rem;
  gap: 3rem;
  flex-wrap: wrap;
}
.infobox div {
  flex: 1 1 45%;
}
.infobox p {
  margin: 0;
}

.sciencelinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.sciencelinks a {
  color: #fff;
  text-decoration: none;
  margin: 0;
}
.gammaContainer {
  padding: 1rem;
}

.explainers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4rem auto;
  gap: 4rem;
  padding: 0;
  max-width: 1024px;
}

.explainer h2 {
  font-size: 1.5rem;
}
.explainer h3 {
  font-size: 1.25rem;
}

.betanotice {
  padding: 20px;
  background: #eee;
}
.betanotice h3 {
  margin: 0;
}

#demoArea {
  text-align: center;
}

footer .innerwrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

footer .innerwrapper div {
  flex: 1 1 45%;
}
